<ul class="nav nav-list">
    <li class="">
        <a href="admin.php">
            <i class="menu-icon fa fa-tachometer"></i>
            <span class="menu-text"> 控制台 </span>
        </a>

        <b class="arrow"></b>
    </li>

    <li class="active open">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-list"></i>
            <span class="menu-text"> 个人资料 </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="active">
                <a href="?m=Admin&a=public_edit_info">
                    <i class="menu-icon fa fa-caret-right"></i>
                    修改个人信息
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="?m=Admin&a=public_edit_pwd">
                    <i class="menu-icon fa fa-caret-right"></i>
                    修改密码
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>

    <li class="">
        <a href="?m=User">
            <i class="menu-icon fa fa-picture-o"></i>
            <span class="menu-text"> 会员管理 </span>
        </a>

        <b class="arrow"></b>
    </li>

    <li class="">
        <a href="?m=Help">
            <i class="menu-icon fa fa-list-alt"></i>
            <span class="menu-text"> 帮助内容 </span>
        </a>

        <b class="arrow"></b>
    </li>
    <li class="">
        <a href="?m=Sysmsg">
            <i class="menu-icon fa fa-list-alt"></i>
            <span class="menu-text"> 发送系统消息 </span>
        </a>

        <b class="arrow"></b>
    </li>
    <li class="">
        <a href="?m=Help">
            <i class="menu-icon fa fa-list-alt"></i>
            <span class="menu-text"> 排行榜 </span>
        </a>

        <b class="arrow"></b>
    </li>

    <li class="">
        <a href="?m=Find">
            <i class="menu-icon fa fa-calendar"></i>

            <span class="menu-text">
                点点运动发现

                <!-- #section:basics/sidebar.layout.badge -->
                <span class="badge badge-transparent tooltip-error" title="2 Important Events">
                    <i class="ace-icon fa fa-exclamation-triangle red bigger-130"></i>
                </span>

                <!-- /section:basics/sidebar.layout.badge -->
            </span>
        </a>

        <b class="arrow"></b>
    </li>




    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-pencil-square-o"></i>
            <span class="menu-text"> 活动管理 </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="form-elements.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    活动管理
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="form-elements-2.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    活动设置
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>




    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-pencil-square-o"></i>
            <span class="menu-text"> 抽奖模块 </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="form-elements.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    抽奖活动列表
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="form-elements-2.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    抽奖活动列表2
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>



    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-pencil-square-o"></i>
            <span class="menu-text"> 金币商城 </span>
            <b class="arrow fa fa-angle-down"></b>
        </a>
        <b class="arrow"></b>
        <ul class="submenu">
            <li class="">
                <a href="form-elements.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    商品管理
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="form-elements-2.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    购买记录
                </a>
                <b class="arrow"></b>
            </li>
        </ul>
    </li>

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-pencil-square-o"></i>
            <span class="menu-text"> 系统设置 </span>
            <b class="arrow fa fa-angle-down"></b>
        </a>
        <b class="arrow"></b>
        <ul class="submenu">
            <li class="">
                <a href="form-elements.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    基本设置
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="form-elements-2.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    安全配置
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="form-elements-2.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    安全配置
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="form-elements-2.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    邮箱配置
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="form-elements-2.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    短信配置
                </a>
                <b class="arrow"></b>
            </li>
             <li class="">
                <a href="form-elements-2.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    敏感词管理
                </a>
                <b class="arrow"></b>
            </li>
             <li class="">
                <a href="form-elements-2.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    IP禁止
                </a>
                <b class="arrow"></b>
            </li>
        </ul>
    </li>
    
    



    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-desktop"></i>
            <span class="menu-text">
                系统管理
            </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-caret-right"></i>

                    管理员
                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <li class="">
                        <a href="?m=Admin">
                            <i class="menu-icon fa fa-caret-right"></i>
                            管理员管理
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="?m=Role">
                            <i class="menu-icon fa fa-caret-right"></i>
                            角色管理
                        </a>

                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>

            <li class="">
                <a href="?m=Cache&a=clear_file">
                    <i class="menu-icon fa fa-caret-right"></i>
                    清理缓存
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="?m=Cache&a=list_mem">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Memcache管理
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="?m=Node">
                    <i class="menu-icon fa fa-caret-right"></i>
                    菜单管理
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="content-slider.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    后台操作日志
                </a>

                <b class="arrow"></b>
            </li>

           
        </ul>
    </li>


</ul><!-- /.nav-list -->